/* ✅ Importaciones primero */
@import "tailwindcss";



/* Colores globales (modo claro por defecto) */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8); /* negro con 60% de opacidad */
  z-index: -1; /* detrás del contenido */
  pointer-events: none;
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Estilos base del body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;

  /* Fondo mágico */
   background-image: url('/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
